.contact-links {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 50px;
}

.contact-links__link {
  @extend %header-link;
  display: flex;
  align-items: center;
  gap: 10px;
  color: $color-light-text;
}

.contact-links__icon {
  width: 16px;
  height: 16px;
}

.contact-links--footer {
  display: block;
}

.contact-links__item--footer:not(:last-of-type) {
  margin-bottom: 9px;
}

.contact-links__link:hover,
.contact-links__link:focus {
  @extend %header-link-active;
}
