.contact-links {
  display: flex;
  gap: 50px;

  &--footer {
    display: block;
  }
}

.contact-links__link {
  @extend %header-link;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 32px 0;
  color: $color-light-text;

  &:hover,
  &:focus {
    @extend %header-link-active;
  }

  &--footer {
    padding: 0;
  }
}

.contact-links__icon {
  width: 16px;
  height: 16px;
}

.contact-links__item--footer:not(:last-of-type) {
  margin-bottom: 9px;
}
