.footer {
  padding: 60px 0;
  color: $color-white;
  background-color: $color-dark-bg;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__logo {
  margin-bottom: 20px;
  color: inherit;
}

.footer__address {
  margin-bottom: 9px;
  line-height: 1.71;
  font-style: normal;
}

.footer__contact-links {
  line-height: 1.71;
  color: rgba($color-white, 0.6);
}

.footer__col--pt {
  padding-top: 12px;
}

.footer__title {
  margin-bottom: 20px;
  line-height: 1.14;
  text-transform: uppercase;
}
