.nav-links {
  display: flex;
  gap: 15px 50px;
}

.nav-links__link {
  @extend %header-link;
  position: relative;
  display: block;
  padding: 31px 0;
  color: inherit;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 2px;
    background-color: $color-active;
    transform: scaleX(0);
    opacity: 0;
    transition: transform $transition, opacity $transition;
  }

  &.current::after {
    transform: scaleX(1);
    opacity: 1;
  }

  &.current,
  &:hover,
  &:focus {
    @extend %header-link-active;
  }
}
