:root {
  --color-black: #000;
  --color-white: #fff;
  --color-white-60: rgba(255, 255, 255, 0.6);
  --color-main-text: #212121;
  --color-dark-bg: #2f303a;
  --color-light-text: #757575;
  --color-light-2: #f5f4fa;
  --color-active: #2196f3;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--color-main-text);
  background-color: var(--color-white);
}

/* utils */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* header */
.header {
  display: flex;
  min-height: 80px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-right: auto;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__logo {
  margin-right: 93px;
}

.logo {
  display: block;
  font-family: "Raleway", Arial, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-black);
}

.logo__accent {
  color: var(--color-active);
}

.nav-links {
  display: flex;
  gap: 15px 50px;
}

.nav-links__link,
.contact-links__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-links__link {
  display: block;
  padding: 8px 0;
  color: inherit;
}

.nav-links__link.current,
.nav-links__link:hover,
.nav-links__link:focus,
.contact-links__link:hover,
.contact-links__link:focus {
  color: var(--color-active)
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 50px;
}

.contact-links__link {
  color: var(--color-light-text);
}

/* homepage main */
.section--mb {
  margin-bottom: 94px;
}


.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.hero {
  padding: 200px 0;
  text-align: center;
  background-color: var(--color-dark-bg);
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

.hero__btn {
  font-family: inherit;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background-color: var(--color-active);
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--color-light-2);
  color: var(--color-active);
}

.promo__list {
  --gap: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.promo__item {
  --columns: 4;
  width: calc((100% - (var(--columns) - 1) * var(--gap)) / var(--columns));
}

.promo-card__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.promo-card__desc {
  line-height: 1.71;
  color: var(--color-light-text);
}

.we-do__list {
  --gap: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.we-do__item {
  --columns: 3;
  width: calc((100% - (var(--columns) - 1) * var(--gap)) / var(--columns));
}

.team {
  padding: 94px 0;
  background-color: var(--color-light-2);
}

.team__list {
  --gap: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.team__item {
  --columns: 4;
  width: calc((100% - (var(--columns) - 1) * var(--gap)) / var(--columns));
}

.employee-card {
  background: var(--color-white);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.employee-card__content {
  padding: 30px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.employee-card__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.employee-card__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--color-light-text);
}

/* portfolio main */
.tab-controls {
  display: flex;
  column-gap: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.tab-controls__btn {
  padding: 6px 22px;
  background-color: var(--color-light-2);
  cursor: pointer;
  border: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

.tab-controls__btn.current,
.tab-controls__btn:hover,
.tab-controls__btn:focus {
  color: var(--color-white);
  background-color: var(--color-active);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  margin: 0;
}

.project-card__img {
  display: block;
}

.project-card__desc {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top-color: transparent;
}

.project-card__name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-card__type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-light-text);
}

/* footer */
.footer {
  background-color: var(--color-dark-bg);
}

.footer__logo {
  color: var(--color-white);
}

.footer__address {
  line-height: 1.71;
  font-style: normal;
  color: var(--color-white);
}

.footer__contact-links {
  line-height: 1.71;
  color: var(--color-white-60);
}
