.field-subscribe__input {
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: inherit;
  background-color: inherit;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color var(--transition);
}

.field-subscribe__input:hover,
.field-subscribe__input:focus {
  border-color: var(--color-active);
}

.field-subscribe__input::placeholder {
  color: var(--color-white-60);
}
