.social {
  display: flex;
  gap: 10px;
}

.social__link {
  --color-hover: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: inherit;
  background-color: rgba($color-white, 0.1);
  transition: color $transition, background-color $transition;

  .social--light & {
    color: $color-icon-1;
  }

  .social--dark & {
    color: var(--color-hover);
    transition: background-color $transition;
  }

  &:hover,
  &:focus {
    color: var(--color-hover);
    background-color: $color-active;
  }
}

.social__svg {
  display: block;
}
