.social {
  display: flex;
  gap: 10px;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: inherit;
  background-color: rgba($color-white, 0.1);
  transition: color $transition, background-color $transition;

  .social--main & {
    color: $color-icon-1;
  }

  &:hover,
  &:focus {
    color: $color-white;
    background-color: $color-active;
  }
}

.social__svg {
  display: block;
  margin: auto;
  width: 20px;
  height: 20px;
}
