.clients__list {
  display: flex;
  gap: 30px;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid $color-icon-1;
  border-radius: 4px;
  color: $color-icon-1;
  transition: color $transition, border-color $transition;

  &:hover,
  &:focus {
    border-color: $color-active;
    color: $color-active;
  }
}

.clients__svg {
  display: block;
  width: 106px;
  height: 60px;
  margin: auto;
}
